body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-display: white;
}

header--main {
    font-weight: normal;
    font-size: 50px;
}